@import 'tailwindcss';

@theme {
  --color-brand: #525252;
  --color-background: #f0eee9;
  --color-surface: #ffffff;
  --color-text-main: #171717;
  --color-text-muted: #737373;
  --color-border-subtle: rgba(0, 0, 0, 0.05);
  --color-accent: #3b82f6;
  --color-accent-soft: #eff6ff;
  --color-accent-dark: #2563eb;
}

@layer base {
  .dark {
    --color-brand: #d1d5c9;
    --color-background: #0d0d0d;
    --color-surface: #1a1c1e;
    --color-text-main: #f0eee9;
    --color-text-muted: #94a3b8;
    --color-border-subtle: rgba(255, 255, 255, 0.1);
    --color-accent: #60a5fa;
    --color-accent-soft: rgba(59, 130, 246, 0.1);
    --color-accent-dark: #93c5fd;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
    transition: all 0.3s ease;
    margin: 0;
    font-family: sans-serif;
  }
}
